---
name: Lint

on:
  workflow_call:
    inputs:
      megalinter-config:
        description: "Path to megalinter config file"
        default: "./.github/linters/.megalinter.yml"
        type: string

permissions: {}

jobs:
  lint:
    runs-on: ubuntu-latest
    permissions:
      contents: read # checkout
      pull-requests: write # megalinter
    steps:
      - name: Check out the codebase
        uses: actions/checkout@v6.0.1

      - name: Run megalinter
        uses: oxsecurity/megalinter/flavors/cupcake@v9.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          MEGALINTER_CONFIG: ${{ inputs.megalinter-config }}
